.favorite-person {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid var(--grey-300);
  border-radius: 8px;
  transition: var(--transition);
  transition-property: background, border-color;
  background: var(--white);

  &.is-waiting {
    .favorite-person__avatar {
      position: relative;

      &::before, &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        z-index: 1;
      }

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      }

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: url('/assets/icons/Clock.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &--open-user {
    cursor: pointer;

    :global {
      .rating {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  &:hover {
    background: var(--background);
    border-color: var(--blue);

    .button {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    :global {
      .rating {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    &--empty {
      border: 1px solid var(--grey-500);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--grey-500);
    }
  }

  &__info {
    width: 100%;
    max-width: 295px;
    margin-right: 20px;
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__job {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey-500);
    -webkit-line-clamp: 1;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__rating {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 7px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    :global {
      .rating {
        transition: var(--transition);
      }
    }

    .button {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 1;
      transition: var(--transition);
      opacity: 0;
      pointer-events: none;
    }
  }

  &__rating-header {
    display: none;
  }
}

.button-add-mob {
  display: none;
}

@media (max-width: $mobile-big) {
  .favorite-person {
    padding: 10px 16px;

    &__info {
      max-width: none;
    }

    &__avatar {
      width: 40px;
      height: 40px;
    }

    &__name {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
    }

    &__job {
      font-size: 12px;
      line-height: 18px;
    }

    &__rating {
      display: none;
    }

    &__rating-header {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: var(--grey-500);
      flex-shrink: 0;
      margin-left: 8px;

      svg {
        color: var(--yellow);
      }
    }

    .button-add-mob {
      display: flex;
      width: 36px;
      height: 36px;
      margin-left: 8px !important;
    }

    :global {
      .icon-btn {
        margin-left: auto;
      }
    }
  }
}
