.auth-layout {
  background: white;
  position: relative;

  &__img {
    position: fixed;
    width: calc(50% - 128px);
    height: 100vh;
    left: 0;
    top: 0;
  }

  &__inner {
    width: calc(50% + 128px);
    margin-left: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 102px 30px;
    background: white;
  }

  &__mob-bottom {
    display: none;
  }
}

@media (max-width: $desktop) {
  .auth-layout {
    &__img {
      width: 35%;
    }

    &__inner {
      width: 65%;
    }
  }
}

@media (max-width: $tablet) {
  .auth-layout {
    &__img {
      display: none;
    }

    &__inner {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;
      z-index: 1000;
      padding-top: 180px;
      padding-bottom: 40px;
    }

    &__mob-bottom {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--grey-500);
      margin-top: 20px;

      a {
        color: var(--blue);
      }
    }
  }
}

@media (max-width: $mobile-big) {
  .auth-layout {
    &__inner {
      padding-top: 53px;
    }
  }
}
