.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main {
  width: 100%;
  margin-right: 20px;
}

.aside {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  order: 1;
}

.grid,
.loading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

.loading {
  span {
    display: block;
    height: 238px;
    border-radius: 8px;
    @include animLine;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.banner2 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.banner {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: var(--grey-100);
  border-radius: 8px;

  &__img {
    width: 100%;
    max-width: 139px;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-500);
    max-width: 160px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;
    max-width: 160px;
  }
}

@media (max-width: $desktop-big) {

  .loading {

    span {
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@media (max-width: $tablet) {
  .body {
    display: block;
  }

  .aside {
    position: relative;
    z-index: 2;
    padding-bottom: 12px;
  }
}

@media (max-width: $mobile-big) {
  .grid,
  .loading {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .banner2 {
    display: none;
  }

  .loading {

    span {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  .banner {
    &__img {
      max-width: 100px;
    }
  }
}

@media (max-width: $mobile-sm) {
  .grid,
  .loading {
    display: block;
  }

  .grid {
    :global {
      .human-card-info {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .loading {

    span {
      height: 125px;

      &:nth-child(2) {
        display: none;
      }
    }
  }
}
