.spec-list {
  display: block;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    max-width: 206px;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
      transform: translate(-15px, 0);
    }
  }

  &__list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }

  &__list-item {
    margin-bottom: 4px;
  }
}

@media (max-width: $mobile) {
  .spec-list {
    &__content {
      display: block;
    }

    &__img {
      display: none;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__list {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
