.reset-confirm {
  width: 100%;
  max-width: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;

  &__img {
    margin-bottom: 30px;
    width: 205px;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
      transform: translateX(-9px);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
  }

  &__txt {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--grey-500);

    a {
      color: var(--blue);

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__btn {
    display: grid;
    grid-gap: 20px;
    margin-top: 45px;
    width: 100%;
    max-width: 280px;

    button {
      padding: 13px 15px;
      width: 100%;
      max-width: 280px;
      border-radius: 8px;
    }
  }
}
